html, body {
    font-size: 16px;
    margin: 0;
    
    color: #212121;
}

#app {
    position: absolute;
    
    top: 0;
    left: 0;
    right: 0;
    
    min-height: 100%;
}

h1 {
    font-size: 2rem;
    margin: 1.4rem 0;
}

h2 {
    font-size: 1.5rem;
    margin: 2.6rem 0 1.2rem 0;
}

h3 {
    font-size: 1.2rem;
    margin: 2rem 0 1.2rem 0;
}

p {
    text-align: justify;
    line-height: 1.6rem;
    
    margin: 1rem 0;
}

a, a:visited {
    color: #1a237e;
}

@media print {
    html, body {
        color: #000000;
    }
    
    a, a:visited {
        color: #000000;
        text-decoration: none;
    }
}